.RFLegend {
  margin-bottom: var(--radius);
}

.addButton {
  margin-bottom: calc(var(--radius) * 2);
}

.linkButton {
  padding: var(--input-vertical-padding);
  margin-bottom: calc(var(--radius) * 2);
}

.fullWidth {
  width: 100%;
}
